*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;


}
body{

    height: 100%;
    width: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
    
}
.nav-bar{
    display: flex;
    flex:1;
    height: 5em;
    width: 100vw;
    background: white;
}
ul{
    display: flex;
    align-items: center;
    flex-grow: 1;
    list-style: none;
    justify-content: center;
}
.nav-item{
flex: 1;

background: transparent;
text-decoration:  none;
font-size: xx-large;
height: 100%;
padding: .5em;

}
li{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    height: 100%;
    flex-basis: auto;
    background: transparent;
}
.menu{
    display: block;
    margin: 1em;
    margin-right: 2em;
    height: 2.5em;
    width: 2.2em;
    
}
span{ 
    display: block;
    width: 100%;
    height: 4px;
    margin-top: .5em;
    background: black;
}
.burger{

    height: 87vh;
    width: 50%;
    background:black;
    color: white;
   
}
@media screen and (max-width:720px){
    .nav-bar{
        display: none;
    }
    
}
