*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    


}
body{
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
    
}
.nav-bar{
    display: flex;
    
    height: 5em;
    width: 100vw;
    background: white;
}
ul{
    display: flex;
    align-items: center;
    flex-grow: 1;
    list-style: none;
    justify-content: center;
}
a{
    background: red;
    display: block;
    height: 100%;
    width: 100%;
    justify-items: center
}
li{
    margin: 2em;
    height: 100%;
    flex-grow: 2;
    background: rebeccapurple;
    text-align: center;
  
    
}
.menu{
    display: block;
    margin: 1em;
    margin-right: 2em;
    height: 2.5em;
    width: 2.2em;
    
}
span{ 
    display: block;
    width: 100%;
    height: 4px;
    margin-top: .5em;
    background: black;
}
.burger{
    
    position: relative;
    height: 80%;
    background: rgb(250, 250, 250);
    width: 30vw;
    right: -70%;
    display: none;
}
