body{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.login_container{

    border: 2px solid black;
    background-color: hsla(38, -53%, 5%, 80%);
    width: 60%;
    height: 70%;
    margin: 5em;
    padding: 0;
    color: #FA3B5D;
    font-weight: bold;
    border-radius: 10px;
    

}

.zero_padding{
    padding: 0px;
    margin: 0px;
}
.login{
    margin: 4px;
}

.screen{
   display: flex;
    
    background: rgb(25,52,52);
    background-image: linear-gradient(to right, #080c12, #0d1820, #09232b, #022e34, #003a38);
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: flex;
}
@media screen and (max-width:800px ) {
    .screen {
        
      
       display: flex;
       flex-direction: column;
         
    }
    .login_container{
        margin:10px;
       height: 80vh;
    }
  }
.heading{
background-color: rgb(71, 51, 51);
color:#FA3B5D ;
height: 4em;
width: 100%;

}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D70044;
    margin: 10px;
    margin-right: 50px;
    text-align: center;
}
.forgot_password_button:hover{
    color: black;

}


              
.lb,.email_lable,.inputfield,.phonelable{ 
    margin: 20px;
    width: 80%;
    padding: .2em;
    border: none;
 
  

  
    height: 1.9em;
    border-radius: 5px;
  
}
.login_button,.register_button,.forgot_password_button{
    border: none;
    background: transparent ;
    color: white;
    font-size: large;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    background: hsla(-207, 107%, 66%, 89%) ;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;

}
.login_button:hover{
    color: #000000;
    
}
.register_button{
    background-color: chocolate;
}
.register_button:hover{
    color: black;
}
.forgot_password_button{
    background-color: tomato;
}
.transparent,.heading{
    background-color: transparent;
}
.heading{
    margin: 30px;
    
    font-size: 1.8em;
}
input[type="tel"],input[type="password"] {
    border: 2px solid #E7EFFF;
    border-radius: 4px;
    background: #C4FCF0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
 