body{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.login_container{


   
    align-items: center;
    border: 2px solid black;
    background-color: hsla(38, -53%, 5%, 80%);
    width: 60%;
    height: 70%;
    margin: 5em;
    padding: 0;
    color: #e5e6cb;
    font-family: "Montserrat";
    font-weight: 600;
    border-radius: 10px;
    

}
form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
     
}

.zero_padding{
    padding: 0px;
    margin: 0px;
}
.login{
    margin: 4px;
}

.screen{
   display: flex;

  
   background-image: linear-gradient(to right, #080c12, #0d1820, #09232b, #022e34, #003a38);
    align-items: center;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.head{

    margin: 0px 10px 0px;
    
}
.heading{
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
 
  
    background-color: rgb(71, 51, 51);
    color:#e6e4a7 ;
    height: 4em;
    width: 100%;
    font-family: "Montserrat";
    font-weight: 900;
 
        margin: 30px;
        
        font-size: 1.8em;
    
    }
@media screen and (max-width:800px ) {
    .screen {
        
      
       display: flex;
       flex-direction: column;
         
    }
    .login_container{
        margin:10px;
       height: 80vh;
    }
   
    .heading{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: medium;
        height: 30%;
        width: 50%;
        margin: 0px;
     
    }
    .head{
        display: flex;
        justify-content: center
        margin: 0px 10px 0px;
        font-size: 1.3em;
        margin-right: .5em;
    }
  }


.or {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D70044;
  
    text-align: center;
}
.forgot_password_button:hover{
    color: black;

}


              
.lb,.email_lable,.inputfield,.phonelable{


    width: 80%;


    border: none;
 
  

    font-family: "Montserrat";
    height: 1.9em;
    border-radius: 5px;
  
}
.leb{
    margin-top: 10px

}

.login_button,.register_button,.forgot_password_button{
    border: none;
    background: transparent ;
    color: white;
    font-size: large;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 5px;
    background: #0046BB ;
    padding: 5px;
    font-family: "Montserrat";
    font-weight: 600;


}
.login_button:hover{
    color: #000000;
    
}
.register_button{
    background-color: #25d366;
}
.register_button:hover{
    color: black;
}
.forgot_password_button{
    background-color: #B1000C;
}
.transparent,.heading{
    background-color: transparent;
}

input[type="tel"],input[type="password"] {
    border: nonw;
    padding: 10px;
  
    background: #C4FCF0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(0, 0, 0); 
    font: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 