*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.screen{
    height: 98vh;
    width: 100vw;

    background-image: linear-gradient(to right, #080c12, #0d1820, #09232b, #022e34, #003a38);

}
.nav{
    height: 4em;
    width: 100vw;
    display: flex;
 
    

}
.nav_item{
    padding-top: 1.5em;
    text-align: center;
   flex-grow: 0.5;
   border-left: 2px solid black;
    color: white;
    background: #00181D;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    height: 100%;

}
.nav_button{
    border: none;
    background: white;
    color: black;
   font: bold; 
   width: 100%;
    
}
.profile_select{
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}
.ongoing_batch{
    margin-top: 20px;
    color: white;
    height: 361px;
    width: 380px;
    border: 2px solid white;

}
th{ 

    text-align: left;
}
table{
     border-spacing: .2em 1em;
     margin-left: 10px;

}
