*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    height: 100vh;
    width: 100vw;
    background: wheat;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 4em;
    background: pink;
}
.btn{
    border-radius: 15px;
    height: 30px;
    width: 100px;
    margin-right: 4em;
    
}
.anchor-tag{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.logo{ 
     margin-left: 5em;
}
.hero-section{
    display: flex;
    height: 55%;
    width: 100vw;
    background:aqua;
}
.city{
    height: 35%;
    width: 100vw;
    background: green;
}
.text-area{
    
    width: 60%;
    height: 100%;
    background: grey;
}
.item{
    height:69%;
    width: 50%; 

 
    


}
.item1{
    position: relative;
    left: 10%;
    top: 20px;

}
.item2{
    position: relative;
    left:20%;
    bottom: 40%;
}
.imge
{ 
    height: 100%;
    width: 40%;
}
img{
    border-radius: 10%;   
    height: 100%;
    width: 100%;
}
.city{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 3%;

}
.city-name{

    height: 80%;
    width: 30%;
    border: 2px solid black;
}
.city-place{
    padding: 2em;
    position: relative;
    left: 25%;
    top: -2em;
    height: 6em;
    width: 50%;
    background: black;
    color: white;
    border-radius: 10px;
    text-align: center;
 
}